# Docker build arguments
# -----------------------------------------------
USER={Please confirm your USER with `echo $USER` command}
UID={Please confirm your UID with `echo $UID` command}
DOCKER_PASSWORD=password
GIT_EMAIL=hogehoge@gmail.com
GIT_NAME=hogehoge
UV_PROJECT_DIR="/usr/local/"
